{{ define "main" }}

  {{- partial "intro.html" . -}}

  {{- $allposts := where .Site.RegularPages.ByDate.Reverse "Type" $.Site.Params.blogDir -}}
  {{- $publishedposts := where $allposts "Params.draft" false  -}}
  {{- $draftposts := where $allposts "Params.draft" true  -}}

  <div class="text-center mb-8">
    <span class="px-8 py-3 rounded transition-colors text-gray-500 dark:text-gray-400">
      Recent posts
    </span>
  </div>

  <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
    {{ range first $.Site.Params.introPosts $publishedposts }}
      {{ if (not .Params.unlisted) }}
        {{ .Scratch.Set "blogCardContext" "index" }}
        {{- partial "blog-card.html" . -}}
      {{ end }}
    {{ end }}
  </div>

  {{- $featuredposts := where (after $.Site.Params.introPosts $publishedposts) "Params.featured" true  -}}

  {{- with $featuredposts -}}
    <div class="text-center mb-8">
      <span class="px-8 py-3 rounded transition-colors text-gray-500 dark:text-gray-400">
        Featured posts
      </span>
    </div>

    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
      {{ range $featuredposts}}
        {{ if (not .Params.unlisted) }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      {{ end }}
    </div>
  {{- end -}}

  {{ if gt (len $publishedposts) $.Site.Params.introPosts }}
  <div class="text-center mb-8">
    <a class="px-8 py-3 rounded transition-colors {{ .Site.Params.ascentColor | default "bg-pink-50" }}
      text-gray-500 hover:text-gray-800 dark:bg-gray-900 dark:text-gray-400 dark:hover:text-white"
      href="{{ (index (.Site.Menus.main) 0).URL | absLangURL }}" lang="{{ .Lang }}">
      More posts
    </a>
  </div>
  {{ end }}

  {{ if $.Site.Params.futurePosts }}
  {{- partial "future.html" . -}}
  {{ end }}

  {{- with $draftposts -}}
    <div class="text-center mb-8">
      <span class="px-8 py-3 rounded transition-colors text-gray-500 dark:text-gray-400">
        DRAFT posts
      </span>
    </div>

    <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
      {{ range $draftposts}}
          {{- partial "blog-card.html" . -}}
      {{ end }}
    </div>
  {{- end -}}

  {{- partial "social.html" . -}}
{{ end }}
