<div class="text-center mb-8">
  <span class="px-8 py-3 rounded transition-colors text-gray-500 dark:text-gray-400">
  <hr>
  Future posts
  </span>
</div>

<div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
  <div class="p-2">
    <div class="relative">
      <img src="/why-round-numbers.png" class="rounded-lg shadow-sm w-full h-52 object-cover" />
      <div class="absolute top-4 right-4 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white text-sm px-2 py-0.5">
        Coming soon
      </div>
    </div>
    <div class="my-2 text-xl font-semibold text-gray-500 dark:text-gray-400">
      Why are the (climate) numbers so round?
    </div>
    <div class="text-gray-500 dark:text-gray-400">A letter to No. 10, Downing Street</div>
  </div>
</div>

<div class="text-center mb-8">
 (You can follow the mirror of this blog on <a href="https://substack.metamodel.blog">Substack</a> to receive new posts
 as newsletters.)
</div>